first-country-lookup-sapi/src/main/mule/first-country-lookup-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
        <flow name="first-country-lookup-sapi-main">
        <http:listener config-ref="first-country-lookup-sapi-httpListenerConfig" path="${https.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="first-country-lookup-sapi-config" />
		<error-handler ref="generalAPIKitErrorHandler" />
    </flow>
    <flow name="first-country-lookup-sapi-console">
        <http:listener config-ref="first-country-lookup-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="first-country-lookup-sapi-config" />
		<error-handler ref="generalAPIKitErrorHandler" />
    </flow>
    <flow name="get:\countries:first-country-lookup-sapi-config" doc:id="feaad6da-317f-4886-b8ff-0decebfd79cb">
		<flow-ref doc:name="get-country-flow" doc:id="0ad59245-6739-494f-8308-c07c01e25006" name="get-country-flow"/>
    </flow>
	<flow name="get:\countries\(iso_code):first-country-lookup-sapi-config">
        <ee:transform doc:name="iso_code">
            <ee:variables>
                <ee:set-variable variableName="iso_code">attributes.uriParams.'iso_code'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="get-country-iso_code-flow" doc:id="c3a329f0-e118-48d5-afdb-3504265ef9d3" name="get-country-iso_code-flow"/>
    </flow>
</mule>
